[user]
	email = Hulidex@users.noreply.github.com
	name = Jose Luis Izquierdo

[alias]
	st = status
	ss = status -sb
	sh = stash
	ad = add
	# See https://stackoverflow.com/questions/52823692/git-push-force-with-lease-vs-force
	# for further information
	ps = !git push --force-with-lease origin $(git rev-parse --abbrev-ref HEAD)
	pl = !git pull origin $(git rev-parse --abbrev-ref HEAD)
	fe = fetch origin
	rs = restore
	me = merge
	re = rebase --interactive
	co = commit
	di = diff
	ds = diff --staged
	lo = log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
	sw = switch
	cr = switch --create
	br = branch --format='%(HEAD) %(color:magenta)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	de = branch -D
	amend = commit --amend
	save = add .
	undo = reset --soft HEAD~1
	pick = cherry-pick
	last = diff HEAD~1..HEAD 
